
{% extends "base.html" %}

{% block title %}
  Панель управления
{% endblock %}

{% block content %}
      
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Панель управления</a></li>
          <li><a href="/create">Создать бота</a></li>
          <li><a href="/set_hmac">Установить HMAC-ключ</a></li>
          <li><a href="/logout">Выйти</a></li>
        </ul>
      </div>
    </nav>
    <div class="table-responsive">

      <table class="table">
        <tr>
          <th>ID</th>
          <th>Направление</th> 
          <th>Инструмент</th> 
          <th>Валюта</th>
          <th>min цена</th> 
          <th>max цена</th>
          <th>Текущая позиция</th> 
          <th>Курс</th> 
          <th>Обьем</th> 
          <th>Шаг</th> 
          <th>max V</th> 
          <th>lim цена</th> 
          <th>lim V</th> 
          <th>Шаг бота</th> 
          <th>Активность</th>
          <th>Сохранить изменения</th> 
        </tr>
        {% for ad in ads %}
        <tr>
        <form action="/edit/{{ad.id}}" method="post">
          {% csrf_token %}
          <td>{{ ad.id }}</td>
          <td>{{ ad.direction }}</td> 
          <td>{{ ad.online_provider }}</td>
          <td>{{ ad.currency }}</td>
          <td><input type="number" name="min_price" value="{{ ad.min_price }}"  step="0.01" required=""></td> 
          <td><input type="number" name="max_price" value="{{ ad.max_price }}"  step="0.01" required=""></td>
          <td>{{ ad.current_ad_position }}</td>
          <td>{{ ad.price_equation }}</td> 
          <td>{{ ad.current_amount }}</td>
          <td><input type="number" name="step" value="{{ ad.step }}"  required=""></td>
          <td><input type="number" name="max_amount" value="{{ ad.max_amount }}"  required=""></td> 
          <td><input type="number" name="price_limit" value="{{ ad.price_limit }}" step="0.01" required=""></td>
          <td><input type="number" name="amount_limit" value="{{ ad.amount_limit }}" required=""></td>
          <td>{{ ad.current_step }}</td> 
          <td><input type="checkbox" name="is_updated"  {% if ad.is_updated %}checked=""{% endif %}></td>
          <td><input type="submit" value="Подтвердить изменения"  class="text-center"/></td> 
          </form>
        </tr>
        {% endfor %}
      </table>
      </div>
        


      


{% endblock %}