<table class="table" id="MyTable">
        <tr>
          <th>ID</th>
          <th>Напр</th> 
          <th>Инстр</th> 
          <th>Вал</th>
          <th>min ц</th> 
          <th>max ц</th>
          <th>Тек поз</th> 
          <th>Курс</th> 
          <th>Обьем</th> 
          <th>Шаг</th> 
          <th>max V</th> 
          <th>lim ц</th> 
          <th>lim V</th> 
          <th>Шаг б</th> 
          <th>Активн</th>
          <th></th> 
        </tr>
        {% for ad, form in ads %}
        <tr {% if not ad.is_updated %}class="gray"
            {% elif ad.direction == 'sell' %}class="green"
            {% elif ad.direction == 'buy' %}class="red"{% endif %}>
        <form action="/edit/{{ad.id}}" method="post" id="form-{{ad.id}}">
          <td>{{ ad.id }}</td>
          <td>{{ ad.direction }}</td> 
          <td>{{ ad.online_provider }}</td>
          <td>{{ ad.currency }}</td>
          <td>{{ form.min_price }}</td> 
          <td>{{ form.max_price }}</td>
          <td>{{ ad.current_ad_position }}</td>
          <td>{{ ad.price_equation }}</td> 
          <td>{{ ad.current_amount }}</td>
          <td>{{ form.step }}</td>
          <td>{{ form.max_amount }}</td> 
          <td>{{ form.price_limit }}</td>
          <td>{{ form.amount_limit }}</td>
          <td>{{ ad.current_step }}</td> 
          <td>{{ form.is_updated}}</td>
          <td><input type="submit" value="√"  class="text-center btn btn-success" id="{{ad.id}}"/>
          <a href="ad/{{ ad.id }}" class="btn btn-warning" role="button">&#9998;</a> {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}

    </div>
{% endfor %}</td> 
          </form>
        </tr>
        {% endfor %}
      </table>